
/* ---fonts---- */
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* ------------------------main layout------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
}
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 900px;
    margin: 0 auto;
    border: 1px dashed gray;
    background: #eeeeee;
}
.push, .footer { /* ----sticky footer CSS rule ---- */
   height: 100px; 
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: " ";
    display: table;
    clear: both;
}
.header {
    min-height: 135px;
    background: #6DFF48;
    padding: 10px;
    position: relative;
}
.header .nav {
    display: inline-block;
    padding: 0;
}
.header .nav ul {
    list-style: none;
    padding: 0px;
}
.header .nav a {
    border-radius: 5px;
    display: block;
    background: #A432FE;
    width: 200px;
    height: 35px;
    margin-bottom: 5px;
    padding-left: 10px;
    line-height: 35px;
    color: white;
    text-decoration: none;
}
.header .nav li:last-child {
    margin-bottom: 0;
}

.header .heading {
    position: absolute;
    top: 24px;
    left: 214px;
    font-size: 72px;
    font-weight: normal;
    margin-left: 27px;
    color: white;
}
.sidebar {
    background: rgb(56, 191, 253);
    width: 250px;
    padding: 10px 20px 10px 20px;
    color: white;
}
p {
    margin-bottom: 15px;
}
p:last-child {
    margin-bottom: 0;
}
/* ------------- active button highlight ------------------- */
.floats-main .button [href="floats.html"],
.equal-height-columns .button [href="equal-height-columns.html"],
.clearing-floats .button [href="clearFloats.html"],
.floats-within-floats .button [href="floats-within-floats.html"] {
    background: #e139f7;
}
/* ------------- active button highlight ------------------- */

.footer {
    margin: 0 auto;
    width: 900px;
    background: rgb(255, 54, 121);
    color: white;
    clear: both;
    padding: 20px;
    margin-top: -100px;
}
/* ---------------main page styles---------------- */
.floats-main .main {
    background: rgb(232, 72, 253);
    color: white;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}




/* ---------------equal height columns page styles---------------- */
.equal-height-columns .column-wrapper {
    background: rgb(29, 204, 235);
}
.equal-height-columns .main,
.equal-height-columns .sidebar {
    padding: 20px;
    color: white;
}
.equal-height-columns .main {
    width: 648px;
    background: rgb(235, 118, 118);
}
.equal-height-columns .sidebar {
    width: 250px;
    background: #1dcceb;
    border: 1px dashed gray;
}

.gradient-column-wrapper {
    background-image: linear-gradient(90deg, #75fd5a 250px, #f756f7 250px, #2eb9fa 648px, #75fd5a 648px);
}
.gradient-column-wrapper .main {
    width: 398px;
    background: none;
}
.gradient-column-wrapper .sidebar {
    background: none;
}

/* ---------------clear floats page styles---------------- */
.clearing-floats .media-block {
    border: 1px solid black;
    margin: 10px 10px;
    padding: 10px;
    background: rgb(185, 219, 247);
}

.clearing-floats .media-block img {
    margin-right: 15px;
    border: 1px solid rgb(95, 95, 95);
}

.clearing-floats .absolute-positioned {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    right: 20px;
    top: 80%;
    border-radius: 50%;
    color: white;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border: 2px dashed gray;
    background-clip: content-box; 
}

.clearing-floats .with-positioned-el {
    position: relative;
}

.clearing-floats .clear-by-overflow {
    overflow: hidden;
}

.clearing-floats .clear-by-pClass:after {
    content: " ";
    display: table;
    clear: both;
}

.clearing-floats .cleared-by-div {
    clear: both;
}

/* ---------------floats within floats page styles---------------- */
.form {
    background: #d1f729;
    border: 1px dashed gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.form .password, .form .email  {
    display: block;
    color: rgb(107, 107, 107);

}
.form [type="password"], .form [type="mail"] {
    width: 90px;
    /* display: inline-block; */
    float: right;
    border-radius: 5px;
    background: rgb(236, 213, 217);
    padding-left: 5px; 

}
.form [type="submit"] {
    display: block;
    margin: 0 auto;
}

.floats-within-floats .column_wrapper {
    overflow: hidden;
    background: #f85656;
    width: 398px;
    padding: 15px;
    color: white;
}

.floats-within-floats .tip {
    width: 180px;
    background: rgb(187, 233, 178);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: black;
}
.floats-within-floats .tip.right{
    text-align: right;
}

.floats-within-floats .media {
    border: 1px solid gray;
    padding: 10px;
} 
