/* ---fonts---- */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ------------------------main layout------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
}
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 900px;
    margin: 0 auto;
    border: 1px dashed gray;
}
.push, .footer { /* ----sticky footer CSS rule ---- */
   height: 100px; 
}
.header {
    min-height: 135px;
    background: #6DFF48;
    padding: 10px;
    position: relative;
}
.header .nav {
    display: inline-block;
    padding: 0;
}
.header .nav ul {
    list-style: none;
    padding: 0px;
}
.header .nav li {
    background: #A432FE;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
    line-height: 25px;
}
.header .nav li:last-child {
    margin-bottom: 0;
}
.header .nav a {
    color: white;
    text-decoration: none;

}
.header .heading {
    position: absolute;
    top: 24px;
    left: 214px;
    font-size: 72px;
    font-weight: normal;
    margin-left: 27px;
    color: white;
}
.footer {
    margin: 0 auto;
    width: 900px;
    background: rgb(255, 54, 121);
    color: white;
    clear: both;
    padding: 20px;
    margin-top: -100px;
}
/* ---------------main page styles---------------- */
.left {
    float: left;
}
.right {
    float: right;
}
.sidebar {
    background: rgb(56, 191, 253);
    width: 250px;
    padding: 10px 20px 10px 20px;
    color: white;
}
.main {
    background: rgb(232, 72, 253);
    color: white;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}